[submodule "plugins/z"]
	path = plugins/z
	url = https://github.com/rupa/z.git
[submodule "support/iterm-colors/hardcore"]
	path = support/iterm-colors/hardcore
	url = https://github.com/hardcore/iTerm-colors.git
[submodule "iterm-colors/iterm-colors-pencil"]
	path = iterm-colors/iterm-colors-pencil
	url = git@github.com:mattly/iterm-colors-pencil.git
[submodule "support/powerline-fonts"]
	path = support/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
